.listOfSong{
  margin-top:50px;
  margin: 0;
  max-width: 347px;
  text-align: left;
  font-size: 18px;
  /* font: normal 18px/normal "Times New Roman", Courier, monospace; */
}

ul{
  padding:0px;
}

li{
  margin-bottom: 5px;
  font: normal 18px/normal "Times New Roman", Courier, monospace;
}

.noPlaylist{
  font: normal 18px/normal "Times New Roman", Courier, monospace;
}

.add-playlist-to-spotify{
  display: inline-block;
  position: relative;
  left: 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid gray;
  border-radius: 3px;
  font: normal 16px/normal "Courier New", Courier, monospace;
  color: rgba(90,90,90,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,1);
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  margin-top: 10px;
}

.add-playlist-to-spotify:hover{
  background-color: #5cbf2a;
  color: white;
}